<h1 class="fw-light">Mochila App</h1>
<p class="lead text-muted"><%= t('.registration_resources') %></p>
<p class="lead text-muted"><%= t('.allocation_resources') %></p>
<p>
  <%= link_to t('.grades'), grades_path, class: 'btn btn-primary my-2' %> 
  <%= link_to t('.users'), users_path, class: 'btn btn-secondary my-2' %>
</p>
