<ul class="nav navbar-nav justify-content-md-center justify-content-start flex-nowrap ">
  <li class="nav-item">
    <a href="<%= request.path %>?locale=pt-BR">
      <span class="flag-icon flag-icon-br"></span>
    </a>
  </li>
  <li class="nav-item">
    <a href="<%= request.path %>?locale=en">
      <span class="flag-icon flag-icon-us"></span>
    </a>
  </li>
</ul>
